.round {
  border-radius: 100vmax;
}
.bordered {
  border: .25em solid #f60;
}
.middle-align {
  vertical-align: middle;
}
.our-header.our-header {
  color: #595959;
  text-align: left;
  border-left: .25em solid #f60;
  padding: .75em;
}

.spectacle-content li {
  line-height: 1.5;
}

@keyframes shake {
	0% { transform: translate(.2em, .1em) rotate(0deg); }
	10% { transform: translate(-.1em, -.2em) rotate(-1deg); }
	20% { transform: translate(-.3em, 0) rotate(1deg); }
	30% { transform: translate(0, .2em) rotate(0deg); }
	40% { transform: translate(.1em, -.1em) rotate(1deg); }
	50% { transform: translate(-.1em, .2em) rotate(-1deg); }
	60% { transform: translate(-.3em, .1em) rotate(0deg); }
	70% { transform: translate(.2em, .1em) rotate(-1deg); }
	80% { transform: translate(-.1em, -.1em) rotate(1deg); }
	90% { transform: translate(.2em, .2em) rotate(0deg); }
	100% { transform: translate(.1em, -.2em) rotate(-1deg); }
}
.shaking {
	animation: shake .3s infinite linear;
  transform-origin: 50% 50%;
  will-change: transform;
}
